*{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.todo-container {
  border: 1px solid;
  padding: 10px;
  margin: 10px;
}

.todo-container.instructor {
  border-color: blue;
}

.todo-container.student {
  border-color: red;
}
